
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-573928762698105625.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-573928762698105625.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-573928762698105625.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-573928762698105625.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-573928762698105625.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-573928762698105625.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-573928762698105625.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-573928762698105625.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-573928762698105625.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-573928762698105625.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-573928762698105625.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-573928762698105625.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-573928762698105625.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-573928762698105625.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-573928762698105625.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-573928762698105625.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-573928762698105625.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-573928762698105625.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-573928762698105625.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-573928762698105625.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-573928762698105625.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-573928762698105625.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-573928762698105625.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-573928762698105625.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-573928762698105625.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-573928762698105625.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-573928762698105625.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-573928762698105625.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-573928762698105625.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-573928762698105625.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-573928762698105625.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-573928762698105625.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-573928762698105625.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-573928762698105625.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-573928762698105625.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-573928762698105625.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-573928762698105625.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-573928762698105625.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-573928762698105625.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-573928762698105625.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-573928762698105625.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-573928762698105625.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-573928762698105625.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-573928762698105625.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-573928762698105625.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-573928762698105625.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-573928762698105625.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-573928762698105625.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-573928762698105625.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-573928762698105625.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-573928762698105625.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-573928762698105625.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-573928762698105625.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-573928762698105625.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-573928762698105625.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-573928762698105625.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-573928762698105625.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-573928762698105625.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-573928762698105625.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-573928762698105625.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-573928762698105625.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-573928762698105625.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-573928762698105625.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-573928762698105625.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-573928762698105625.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-573928762698105625.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-573928762698105625.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-573928762698105625.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-573928762698105625.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-573928762698105625.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-573928762698105625.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-573928762698105625.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-573928762698105625.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-573928762698105625.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-573928762698105625.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-573928762698105625.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-573928762698105625.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-573928762698105625.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-573928762698105625.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-573928762698105625.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-573928762698105625.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-573928762698105625.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-573928762698105625 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-573928762698105625 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-573928762698105625 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-573928762698105625 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-573928762698105625 .gp-relative{position:relative}.gps-573928762698105625 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573928762698105625 .gp-mb-0{margin-bottom:0}.gps-573928762698105625 .gp-inline-block{display:inline-block}.gps-573928762698105625 .gp-flex{display:flex}.gps-573928762698105625 .gp-inline-flex{display:inline-flex}.gps-573928762698105625 .gp-grid{display:grid}.gps-573928762698105625 .gp-contents{display:contents}.gps-573928762698105625 .\!gp-hidden{display:none!important}.gps-573928762698105625 .gp-hidden{display:none}.gps-573928762698105625 .gp-h-auto{height:auto}.gps-573928762698105625 .gp-h-full{height:100%}.gps-573928762698105625 .gp-w-full{width:100%}.gps-573928762698105625 .gp-max-w-full{max-width:100%}.gps-573928762698105625 .gp-flex-none{flex:none}.gps-573928762698105625 .gp-shrink-0{flex-shrink:0}.gps-573928762698105625 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573928762698105625 .gp-flex-col{flex-direction:column}.gps-573928762698105625 .gp-items-center{align-items:center}.gps-573928762698105625 .gp-justify-center{justify-content:center}.gps-573928762698105625 .gp-overflow-hidden{overflow:hidden}.gps-573928762698105625 .gp-border{border-width:1px}.gps-573928762698105625 .gp-border-transparent{border-color:transparent}.gps-573928762698105625 .gp-text-left{text-align:left}.gps-573928762698105625 .gp-leading-\[0\]{line-height:0}.gps-573928762698105625 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-573928762698105625 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573928762698105625 .gp-duration-200{transition-duration:.2s}.gps-573928762698105625 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-573928762698105625 .tablet\:\!gp-hidden{display:none!important}.gps-573928762698105625 .tablet\:gp-hidden{display:none}.gps-573928762698105625 .tablet\:gp-h-auto{height:auto}.gps-573928762698105625 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-573928762698105625 .mobile\:\!gp-hidden{display:none!important}.gps-573928762698105625 .mobile\:gp-hidden{display:none}.gps-573928762698105625 .mobile\:gp-h-auto{height:auto}.gps-573928762698105625 .mobile\:gp-flex-none{flex:none}}.gps-573928762698105625 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-573928762698105625 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-573928762698105625 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-573928762698105625 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-573928762698105625 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-573928762698105625 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-573928762698105625 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-573928762698105625 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-573928762698105625 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-573928762698105625 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-573928762698105625 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXqozLkyg-"}' data-id="gXqozLkyg-" id="gXqozLkyg-" data-same-height-subgrid-container class="gXqozLkyg- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMArtq93de gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZt3l1xyfU"}' data-id="gZt3l1xyfU" id="gZt3l1xyfU" data-same-height-subgrid-container class="gZt3l1xyfU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNgKHvQwaX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9P02f8I2k"
        class="g9P02f8I2k"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:46px;--size-tablet:46px;--size-mobile:25px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9P02f8I2k_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gF9NzgsysA"
        class="gF9NzgsysA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggF9NzgsysA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F8F6F3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gEvoq1mle6"}' data-id="gEvoq1mle6" id="gEvoq1mle6" data-same-height-subgrid-container class="gEvoq1mle6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:32px;--pl:32px;--pb:32px;--pr:32px;--cg:32px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1440px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#F8F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwSMSiajtG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gCK53IM-6t"}' data-id="gCK53IM-6t" id="gCK53IM-6t" data-same-height-subgrid-container class="gCK53IM-6t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:auto;--mr:auto;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--ml-mobile:auto;--mb-mobile:13px;--mr-mobile:auto;--pt-mobile:24px;--pl-mobile:24px;--pb-mobile:24px;--pr-mobile:24px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gX00cPx3dA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVPPAUUzsx"
        class="gVPPAUUzsx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:31px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVPPAUUzsx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div id="g_C7n1Aw2t" class="gp-leading-[0] g_C7n1Aw2t" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="g_C7n1Aw2t" class="icon-wrapper gp-inline-flex gp-overflow-hidden g_C7n1Aw2t " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:50px;--w-tablet:50px;--w-mobile:50px;--h:50px;--h-tablet:50px;--h-mobile:50px;--minw:50px;--minw-tablet:50px;--minw-mobile:50px;--height-desktop:50px;--height-tablet:50px;--height-mobile:50px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="573929650279941085" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
<path d="M32 0C49.6731 0 64 14.3269 64 32C64 49.6731 49.6731 64 32 64C14.3269 64 0 49.6731 0 32C0 14.3269 14.3269 0 32 0Z" fill="#DBEAFE"/>
<path d="M32 0C49.6731 0 64 14.3269 64 32C64 49.6731 49.6731 64 32 64C14.3269 64 0 49.6731 0 32C0 14.3269 14.3269 0 32 0Z" stroke="#E5E7EB"/>
<path d="M41 48H23V16H41V48Z" stroke="#E5E7EB"/>
<g clip-path="url(#clip0_160_3463)">
<path d="M32 43C27.0312 43 23 38.9688 23 34C23 29.725 29.1031 21.7047 30.8094 19.5484C31.0906 19.1969 31.5078 19 31.9578 19H32.0422C32.4922 19 32.9094 19.1969 33.1906 19.5484C34.8969 21.7047 41 29.725 41 34C41 38.9688 36.9688 43 32 43ZM27.5 34.75C27.5 34.3375 27.1625 34 26.75 34C26.3375 34 26 34.3375 26 34.75C26 37.6516 28.3484 40 31.25 40C31.6625 40 32 39.6625 32 39.25C32 38.8375 31.6625 38.5 31.25 38.5C29.1781 38.5 27.5 36.8219 27.5 34.75Z" fill="#2563EB"/>
</g>
<defs>
<clipPath id="clip0_160_3463">
<path d="M23 19H41V43H23V19Z" fill="white"/>
</clipPath>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKj-HeseLC"
        class="gKj-HeseLC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#2d2d2d;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKj-HeseLC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAef8ayQUi"
        class="gAef8ayQUi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#2d2d2d;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAef8ayQUi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gFDgcIZrkk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gnTQpYyrOX"}' data-id="gnTQpYyrOX" id="gnTQpYyrOX" data-same-height-subgrid-container class="gnTQpYyrOX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:auto;--mr:auto;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pt-mobile:24px;--pl-mobile:24px;--pb-mobile:24px;--pr-mobile:24px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guBJlfNLzo gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2T8m5Gbhz"
        class="g2T8m5Gbhz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:33px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2T8m5Gbhz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gl9u7vYSf- ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gl9u7vYSf-"
      data-id="gl9u7vYSf-"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_PRODUCT;--jc:left"
      className="gl9u7vYSf-"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":50,"mobile":16,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gl9u7vYSf-"
                      style="--cg:60px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:50px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="573930505800516784" xmlns="http://www.w3.org/2000/svg" width="64" height="8" viewBox="0 0 64 8" fill="none">
<path d="M60 0C62.2091 0 64 1.79086 64 4C64 6.20914 62.2091 8 60 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H60Z" fill="#E5E7EB"/>
<path d="M60 0C62.2091 0 64 1.79086 64 4C64 6.20914 62.2091 8 60 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H60Z" stroke="#E5E7EB"/>
<path d="M44 0C46.2091 0 48 1.79086 48 4C48 6.20914 46.2091 8 44 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H44Z" fill="#F87171"/>
<path d="M44 0C46.2091 0 48 1.79086 48 4C48 6.20914 46.2091 8 44 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H44Z" stroke="#E5E7EB"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#4b5563;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl9u7vYSf-_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gl9u7vYSf-"
                      style="--cg:60px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:50px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="573930545629627357" xmlns="http://www.w3.org/2000/svg" width="64" height="8" viewBox="0 0 64 8" fill="none">
<path d="M60 0C62.2091 0 64 1.79086 64 4C64 6.20914 62.2091 8 60 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H60Z" fill="#E5E7EB"/>
<path d="M60 0C62.2091 0 64 1.79086 64 4C64 6.20914 62.2091 8 60 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H60Z" stroke="#E5E7EB"/>
<path d="M36 0C38.2091 0 40 1.79086 40 4C40 6.20914 38.2091 8 36 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H36Z" fill="#FACC15"/>
<path d="M36 0C38.2091 0 40 1.79086 40 4C40 6.20914 38.2091 8 36 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H36Z" stroke="#E5E7EB"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#4b5563;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl9u7vYSf-_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gl9u7vYSf-"
                      style="--cg:60px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:50px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="573930561869972445" xmlns="http://www.w3.org/2000/svg" width="64" height="8" viewBox="0 0 64 8" fill="none">
<path d="M60 0C62.2091 0 64 1.79086 64 4C64 6.20914 62.2091 8 60 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H60Z" fill="#E5E7EB"/>
<path d="M60 0C62.2091 0 64 1.79086 64 4C64 6.20914 62.2091 8 60 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H60Z" stroke="#E5E7EB"/>
<path d="M28 0C30.2091 0 32 1.79086 32 4C32 6.20914 30.2091 8 28 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H28Z" fill="#FB923C"/>
<path d="M28 0C30.2091 0 32 1.79086 32 4C32 6.20914 30.2091 8 28 8H4C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0H28Z" stroke="#E5E7EB"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#4b5563;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl9u7vYSf-_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g2ImgbxFTx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"glHOLmzIDK"}' data-id="glHOLmzIDK" id="glHOLmzIDK" data-same-height-subgrid-container class="glHOLmzIDK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gq_5Wc7Z81 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbNAHlUP7p"
        class="gbNAHlUP7p"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbNAHlUP7p_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="geWXyN0Sfz ">
      
    
    <div class="gp-flex" >
    <div
      data-id="geWXyN0Sfz"
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l)"
        >
        
    <li
      data-index="0" data-id="gJcY9EJZKJ"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-geWXyN0Sfz"
      style="--cg:var(--g-s-l)"
    >
    <div
      data-same-height-display-contents
      
      class="gM5MYyyaD6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g5J_-yBwSB"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772800507874 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g5J_-yBwSB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="gxAj-4S1_5 gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnYjhHFMva"
        class="gnYjhHFMva"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnYjhHFMva_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="g_e4yVMZdL"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-geWXyN0Sfz"
      style="--cg:var(--g-s-l)"
    >
    <div
      data-same-height-display-contents
      
      class="ghiecqmF0_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gZU3VkfP4g"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772800507875 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gZU3VkfP4g"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_573824917435319365-33698d68-18e6-4c6d-8a60-350bc657dc7b.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="gJklfskYXn gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gglbLzucH3"
        class="gglbLzucH3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggglbLzucH3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-573928762698105625 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0rmqkn-3q/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=573825534182556741&sectionId=573928762698105625)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9P02f8I2k_text","label":"gg9P02f8I2k_text","default":"SAMPLE ANALYSIS RESULTS"},{"type":"html","id":"ggF9NzgsysA_text","label":"ggF9NzgsysA_text","default":"<p>See what your personalized report looks like</p>"},{"type":"html","id":"ggVPPAUUzsx_text","label":"ggVPPAUUzsx_text","default":"Your Skin Type"},{"type":"html","id":"ggKj-HeseLC_text","label":"ggKj-HeseLC_text","default":"<strong>Combination</strong>"},{"type":"html","id":"ggAef8ayQUi_text","label":"ggAef8ayQUi_text","default":"<p>T-zone tends to be oily while cheeks are normal to dry</p>"},{"type":"html","id":"gg2T8m5Gbhz_text","label":"gg2T8m5Gbhz_text","default":"Key Concerns"},{"type":"html","id":"ggl9u7vYSf-_childItem_0","label":"ggl9u7vYSf-_childItem_0","default":"<p>Enlarged Pores</p>"},{"type":"html","id":"ggl9u7vYSf-_childItem_1","label":"ggl9u7vYSf-_childItem_1","default":"<p>Dehydration</p>"},{"type":"html","id":"ggl9u7vYSf-_childItem_2","label":"ggl9u7vYSf-_childItem_2","default":"<p>Dullness</p>"},{"type":"html","id":"ggbNAHlUP7p_text","label":"ggbNAHlUP7p_text","default":"Recommended Routine"},{"type":"html","id":"ggnYjhHFMva_text","label":"ggnYjhHFMva_text","default":"<p>Oil Cleanser</p>"},{"type":"html","id":"ggglbLzucH3_text","label":"ggglbLzucH3_text","default":"<p>Foam Cleanser</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}